@import './_variables.scss';

//font

@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Mukta:500');

//reset
body, h1, h2, h3, h4, h5, h6, p, i, b, div, span, ul, li {
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-style: normal;
   
    font-family: 'Maven Pro', sans-serif;
}
%widthMax {
    max-width: 960px;
    margin: 1em auto;
}

%container {
    
    @extend %widthMax;
    display: flex;
    text-align: center;

}

%header {
    font-size: 1em;
    color: $header-primary-color;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    border: $header-primary-color;
    text-transform: uppercase;
    font-weight: 500;
}


