header {

    @extend %container;  
    
    line-height: 3em;
    color: $header-primary-color;
    font-family: 'Mukta', sans-serif;  
    border: 1px solid $header-secondary-color;
  
  }

  
@import './Logo/_brand.scss';

@import './Navigation/_navigation.scss'

  